.activityLevelGrid {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    justify-content: center;
  }

.activityLevelCard {
    text-align: center;
    align-items: center;
    border-color: 'transparent';
}

.activityLevelCard:hover {
    background-color: lightblue;
    cursor: pointer;
}

.activityLevelTitle {
    font-size: 28px;
}
