.genderGrid {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    justify-content: center;
  }

.genderCard {
    text-align: center;
    align-items: center;
    box-shadow: none;
    border: 'none';
    border-color: 'transparent';
}

.genderCard:hover {
    background-color: lightblue;
    cursor: pointer;
}

.genderTitle {
    font-size: 28px;
}

.backButton {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    background: rgb(255,190,35);
    background-color: rgb(255,190,35);
    color: black;
    border: none;
}

.backButton:hover {
    background: rgb(255,190,35);
    background-color:rgb(255,190,35);
    color: black;
    border: 1px solid black;
}