.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #6c7783, #4d4d8c);
}