.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 6rem;
  width: 100%;
  min-height: 100vh;
}

.waves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.waves svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 191px;
}

.waves .shapeFill {
  fill: #FFFFFF;
}