.progressBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 32px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
}

.progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: green;
    border-radius: 8px;
    transition: all 0.5s;
}

.imageContainer {
    margin-left: 20px;
}

.progressBarImage:hover {
    transform: scale(1.1); /* increase the size of the image */
    cursor: pointer; /* change the cursor to a pointer */
  }
  